<template>
  <style>
     :root {
      --primary-color: #3f51b5;
      --secondary-color: #ff4081;
      --text-color: #fff;

      --switch-height: 2.2em;
      --switch-border-radius: calc(var(--switch-height) / 2);
    }

    .toggle-switch {
      position: relative;
      display: inline-flex;
      
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      flex-grow: 0;
      flex-basis: 0;

      font-size: 1em;
      cursor: pointer;
    }

    .toggle-switch .toggle-switch-option {
      flex-grow: 0;
      display: inline-flex;
      margin: auto;

      height: var(--switch-height);
      padding-left: 1em;
      padding-right: 1em;

      text-align: center;

      align-items: center;
    }
    /* Switch slider */

    .toggle-switch::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: var(--switch-height);
      background-color: var(--secondary-color);
      border-top-left-radius: var(--switch-border-radius);
      border-bottom-left-radius: var(--switch-border-radius);
      z-index: -1;
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
      transition-property: transform border-radius;
    }

    .toggle-switch.right-active::before {
      transform: translateX(100%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--switch-border-radius);
      border-bottom-right-radius: var(--switch-border-radius);
    }

    /* Switch outline */

    .toggle-switch::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: var(--switch-height);
      border: 3px solid var(--secondary-color);
      border-radius: var(--switch-border-radius);
      box-sizing: border-box;
    }
  </style>
  <div class="toggle-switch">
    <span class="toggle-switch-option">Left</span>
    <span class="toggle-switch-option">Right</span>
  </div>
</template>

<script>
  var RIGHT_ACTIVE_CLASS = 'right-active'
  var SWITCH_CLASS = 'toggle-switch'
  var SWITCH_OPTION_CLASS = 'toggle-switch-option'

  var thisDoc = (document._currentScript || document.currentScript).ownerDocument;
  var template = thisDoc.querySelector('template').content;

  class ToggleSwitch extends HTMLElement {
    createdCallback () {
      console.log('created')
      var shadow = this.createShadowRoot();
      var clone = document.importNode(template, true)
      shadow.appendChild(clone);
  
      // Root
      this.$el = shadow.querySelector('.' + SWITCH_CLASS)
  
      // State
      this._isRightActive = false
  
      // Attributes
      this._left = this.getAttribute('left') || 'Left'
      this._right = this.getAttribute('right') || 'Right'
  
      // Cahe elements
      var elements = this.$el.querySelectorAll('.' + SWITCH_OPTION_CLASS)
      this._leftEl = elements[0]
      this._rightEl = elements[1]
  
      // Handle click
      this.$el.addEventListener('click', event => this._handleClick(event))
  
      // Update view
      this._updateView()
    }

    set left (value) {
      this._left = value
      this._updateView()
    }
    
    set right (value) {
      this._right = value
      this._updateView()
    }

    isRightActive () {
      return this._isRightActive
    }
  
    activateLeft () {
      if (this._isRightActive) {
        this._isRightActive = false
        this._updateView()
      }
    }
  
    activateRight () {
      if (!this._isRightActive) {
        this._isRightActive = true
        this._updateView()
      }
    }
  
    toggle () {
      this.isRightActive() ? this.activateLeft() : this.activateRight()
    }
  
    _updateView () {
      this._isRightActive ? this.$el.classList.add(RIGHT_ACTIVE_CLASS) : this.$el.classList.remove(RIGHT_ACTIVE_CLASS)
      this._leftEl.innerText = this._left
      this._rightEl.innerText = this._right
    }
  
    _handleClick (event) {
      this._isRightActive = !this._isRightActive
      this._updateView()
    }
  
    // attachedCallback () {
    //   console.log("attached Callback");
    // }
  
    // detachedCallback () {
    //   console.log("detached Callback");
    // }
  
    attributeChangedCallback (attrName, oldVal, newVal) {
      this[attrName] = newVal
      this._updateView()
    }
  }

  document.registerElement('toggle-switch', ToggleSwitch);

</script>